{% load static %} {% load custom_filters %}

<div class="text-[#cccccc] relative md:w-full shadow-md rounded-2xl break-inside-avoid flex flex-col border-t-2 border-l-2 transform hover:rotate-1 transition-transform duration-300 p-4 items-center space-y-3 border-[#2a2a2a] shadow-lg md:h-[36rem] h-[25rem] bg-gradient-to-br from-[#1f1f1f] to-[#0e0e0e]">
	<div class="w-full !aspect-square rounded-xl overflow-hidden flex items-center justify-center bg-[#262626]">
		<img src="{% static 'image/noimage.svg' %}" alt="No image available" class="w-1/4 h-1/4 object-cover rounded-lg" />
	</div>
	<div class="w-full flex flex-col space-y-2 justify-start overflow-hidden">
		<p class="text-xl font-semibold leading-6 text-nowrap">{{ product.name }}</p>
		<p class="md:flex hidden">{{ product.description|truncate_words:80 }}</p>
		<p class="md:hidden">{{ product.description|truncate_words:30 }}</p>
		<div class="flex md:flex-row md:space-x-2 flex-col space-y-2 md:items-center">
			<div class='flex flex-row space-x-2 items-center '>
				<img src="{% static 'image/star.svg' %}" alt="Rate" class="w-4 h-4" />
				<p class="text-sm">Unrated</p>
			</div>
			<p class="text-sm hidden md:flex">∙</p>
			<p class="text-sm">{{ product.stock }} stock left</p>
		</div>
	</div>
	<div class="absolute bottom-6 left-1/2 -translate-x-1/2 flex flex-row w-full items-center justify-center">
		<a href="{% url 'main:edit_product' product.pk %}" class="w-1/3 flex items-center justify-center flex-row items-center justify-center rounded-l-lg px-1 py-1 md:space-x-1 transition duration-300 bg-yellow-600 hover:bg-opacity-100 hover:text-white bg-opacity-10 text-yellow-600 border border-yellow-600">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil">
				<path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
				<path d="m15 5 4 4" />
			</svg>
			<p class="hidden md:flex">Edit</p>
		</a>
		<a href="{% url 'main:delete_product' product.pk %}" class="w-1/3 flex items-center justify-center flex-row items-center justify-center rounded-r-lg px-1 py-1 md:space-x-1 transition duration-300 bg-red-800 hover:bg-opacity-100 hover:text-white bg-opacity-20 text-red-600 border border-red-700">
			<p class="hidden md:flex">Delete</p>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eraser">
				<path d="m7 21-4.3-4.3c-1-1-1-2.5 0-3.4l9.6-9.6c1-1 2.5-1 3.4 0l5.6 5.6c1 1 1 2.5 0 3.4L13 21" />
				<path d="M22 21H7" />
				<path d="m5 11 9 9" />
			</svg>
		</a>
	</div>
</div>
