{% extends 'base.html' %} {% block content %}

<h1>Welcome to KickStash!</h1>

{% if not products %}
<p>No products available.</p>
{% else %}
<table>
	<tr>
		<th>Name</th>
		<th>Price</th>
		<th>Description</th>
		<th>Stock</th>
	</tr>

	{% for product in products %}
	<tr>
		<td>{{ product.name }}</td>
		<td>Rp{{ product.price }}</td>
		<td>{{ product.description }}</td>
		<td>{{ product.stock }}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
	<button>Create Product</button>
</a>

<!-- No styling just yet -->
<br />
<br />

<p>© 2024 {{ student_name }} ({{ student_id }}, {{ student_class }}) — All Rights Reserved.</p>

{% endblock content %}
