{% extends 'base.html' %} {% load static %} {% block meta %}
<title>KickStash!</title>
{% endblock meta %} {% block content %} {% include 'navbar.html' with current_page='main' %}
<div class="overflow-x-hidden md:px-8 px-4 pt-32 min-h-screen bg-[#0d0d0d] flex flex-col w-screen space-y-12 items-center text-[#cccccc]">
	<div class="items-center justify-center relative md:hidden">
		<h1 class="text-5xl font-extrabold text-center relative text-white">
			<img src="{% static 'image/crown.png' %}" alt="KickStash Crown" class="absolute w-4 h-4 -top-0.5 -left-1.5 rotate-[-30deg]" />
			KickStash!
		</h1>
	</div>
	<img src="{% static 'image/promo/hoka.webp' %}" alt="Weekend" class="w-full rounded-xl" />
	<div class="flex flex-col space-y-8 w-full">
		<div class="relative flex flex-row space-x-4 w-full justify-start items-center">
			<p class="font-semibold text-2xl tracking-widest text-nowrap">My Products</p>
			<div class="w-full h-0.5 bg-[#262626] w-auto flex-grow"></div>
			<div id="my-products" class="absolute -top-32"></div>
		</div>
		<div class="flex justify-start w-full">
			<a href="{% url 'main:create_product' %}" class="bg-[#0b79f7] hover:bg-opacity-100 hover:text-white bg-opacity-10 text-[#0b79f7] border border-[#0b79f7] font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform flex-row space-x-2 flex items-center justify-center add-button">
				<div class="relative w-4 h-4">
					<img src="{% static 'image/add.svg' %}" alt="Add new product" class="w-4 h-4 add-icon absolute inset-0 transition-opacity duration-300" />
					<img src="{% static 'image/addhover.svg' %}" alt="Add new product" class="w-4 h-4 add-icon-hover absolute inset-0 opacity-0 transition-opacity duration-300" />
				</div>
				<style>
					.add-icon-hover {
						opacity: 0;
					}

					.add-button:hover .add-icon-hover {
						opacity: 1;
					}

					.add-button:hover .add-icon {
						opacity: 0;
					}
				</style>
				<p>Add New Product</p>
			</a>
		</div>

		{% if not products %}
		<p>No products available</p>
		{% else %}
		<div class="w-full grid grid-cols-2 md:grid-cols-3 md:gap-6 gap-2">{% for product in products %} {% include 'card_product.html' with product=product %} {% endfor %}</div>
		{% endif %}
	</div>
	{% include 'footer.html' with student_name=student_name student_id=student_id student_class=student_class %}
</div>
{% endblock content %}
